@import 'normalize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SourceCodePro-Black';
  font-style: normal;
  font-weight: 800;
  src: local('SourceCodePro-Black'), url('assets/fonts/SourceCodePro-Black.ttf') format('woff');
}

h1,
h2,
h3 {
  font-family: 'SourceCodePro-Black', sans-serif;
  font-weight: 700;
}

h1 { 
  margin-top: .25rem;
  margin-bottom: .5rem;
  font-size: 40px;
  line-height: 1.125;
}

h2 { 
  margin-top: .25rem;
  margin-bottom: .5rem;
  font-size: 28px;
  line-height: 1.125;
}

h3 { 
  margin-top: .25rem;
  margin-bottom: .5rem;
  font-size: 20px;
  line-height: 1.125;
}